/* 
 * 使い分けのポイント
 * + 複数のSvelteファイルで参照する必要があるCSS変数の定義
 * + Web標準のUIに対して全ページ共通で同じ装飾をしたいとき
 */

/* レイアウト用の定数 */
:root {
	--top-margin: 64px;
	--bottom-margin: 64px;
	--any-margin: 24px;
}

/* スクロールバーの装飾 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: #2a2a2a; /* ダークなトラック背景 */
}
::-webkit-scrollbar-thumb {
	background-color: #7dd7c7; /* 指定の色 */
	border-radius: 8px;
	border: 2px solid #2a2a2a; /* トラックと同じ色のボーダーで一体感を演出 */
}
::-webkit-scrollbar-thumb:hover {
	background-color: #66c0b5; /* ホバー時に少し濃いめ、またはお好みで調整 */
}
::-webkit-scrollbar-corner {
	background: #2a2a2a;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #7dd7c7 #2a2a2a;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #66c0b5;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* ボーダーやシャドウの追加 */
}
